    body{
        background-color: antiquewhite;
    }
    .formcontainer{
    text-align: center;
   background-color: rgb(255, 254, 253);
   border: none;
   border-radius: 40px;
width: 30%;
height: 100%;
    margin: 0 auto;
   
     
    }
    #name{
   
    padding-right: 70px;   
    }
    #adress{
     
        padding-right: 70px;
    }
    #email{
   
    padding-right: 70px;   
    }
    #mypassword{

padding-right: 70px;    
    }
    #confirm{
     padding-right: 70px;   
    }
    #selection{
   
    padding-right: 109px;
    padding-left: 55px;
    padding-top: 2px;
    padding-bottom: 2px;      
    }
    #collegename{
     
        padding-right: 70px;
    }
button{
background-color: rgb(105, 105, 194); 
color: aqua;
padding: 10px 10px;
border: none;
border-radius: 20px;

width: 10%;   
}   
button:hover{
background-color: rgb(0, 0, 0);
} 